*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #01161E;
    height: 10vh;
    color: #9DD9D2;
}
.navbar p{
    padding-top: 3vh;
    margin-left: 6vh;
}

body{
    background-color: #598392;
}
h1{
    font-size: 8vh;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px purple;
    margin-top: 5vh;
}

.tagline{
    display: flex;
    justify-content: center;
    color: #9DD9D2;
    font-size: 4vh;
}
.main_div{
    display: flex;
    margin-top: 10vh;
    width: 80%;
    margin-left: 15vh;
}

.left_container{

    background-color: cadetblue;
    width: 50%;
}

.left_container h4{
    display: flex;
    font-size: 20px;
    margin: 3vh;
    color: white;
    text-shadow: 2px 2px black;
    justify-content: center;
}

.left_container input{
    display: flex;
    margin-left: 3vh;

